/* ___________________________
  |                           |
  |    Satoshi Font Family    |   
  |___________________________|
*/
/*----- Light -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 300;
  src: url('/fonts/satoshi/Satoshi-Light.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-Light.woff') format('woff');
}

/*----- Light Italic -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'italic';
  font-display: 'swap';
  font-weight: 300;
  src: url('/fonts/satoshi/Satoshi-LightItalic.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-LightItalic.woff') format('woff');
}

/*----- Regular -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 400;
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-Regular.woff') format('woff');
}

/*----- Regular Italic -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'italic';
  font-display: 'swap';
  font-weight: 400;
  src: url('/fonts/satoshi/Satoshi-Italic.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-Italic.woff') format('woff');
}

/*----- Medium -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 500;
  src: url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-Medium.woff') format('woff');
}

/*----- Medium Italic -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'italic';
  font-display: 'swap';
  font-weight: 500;
  src: url('/fonts/satoshi/Satoshi-MediumItalic.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-MediumItalic.woff') format('woff');
}

/*----- Bold -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 700;
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-Bold.woff') format('woff');
}

/*----- Bold Italic -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'italic';
  font-display: 'swap';
  font-weight: 700;
  src: url('/fonts/satoshi/Satoshi-BoldItalic.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-BoldItalic.woff') format('woff');
}

/*----- Black -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'normal';
  font-display: 'swap';
  font-weight: 900;
  src: url('/fonts/satoshi/Satoshi-Black.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-Black.woff') format('woff');
}

/*----- Black Italic -----*/
@font-face {
  font-family: 'Satoshi';
  font-style: 'italic';
  font-display: 'swap';
  font-weight: 900;
  src: url('/fonts/satoshi/Satoshi-BlackItalic.woff2') format('woff2'), url('/fonts/satoshi/Satoshi-BlackItalic.woff') format('woff');
}
